Cliente CSharp/ClienteEscuela/Connected Services/EscuelaCliente/SWEscuelaPort.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://sw.model/" targetNamespace="http://sw.model/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="addEscuela" type="tns:addEscuela" />
  <xs:element name="addEscuelaNET" type="tns:addEscuelaNET" />
  <xs:element name="buscarSW" type="tns:buscarSW" />
  <xs:element name="buscarSWResponse" type="tns:buscarSWResponse" />
  <xs:element name="editarSW" type="tns:editarSW" />
  <xs:element name="eliminarEscuela" type="tns:eliminarEscuela" />
  <xs:element name="listarEscuela" type="tns:listarEscuela" />
  <xs:element name="listarEscuelaResponse" type="tns:listarEscuelaResponse" />
  <xs:complexType name="addEscuelaNET">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:escuela" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="escuela">
    <xs:sequence>
      <xs:element minOccurs="0" name="estudiante" type="xs:string" />
      <xs:element minOccurs="0" name="fechaCreacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="idE" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="profesor" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="addEscuela">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
      <xs:element minOccurs="0" name="arg1" type="xs:string" />
      <xs:element minOccurs="0" name="arg2" type="xs:string" />
      <xs:element minOccurs="0" name="arg3" type="xs:dateTime" />
      <xs:element minOccurs="0" name="arg4" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscarSW">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscarSWResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:escuela" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarEscuela">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarEscuelaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:escuela" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="editarSW">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
      <xs:element minOccurs="0" name="arg1" type="xs:string" />
      <xs:element minOccurs="0" name="arg2" type="xs:string" />
      <xs:element minOccurs="0" name="arg3" type="xs:string" />
      <xs:element minOccurs="0" name="arg4" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarEscuela">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>